=============================
Requirements and Installation
=============================

Paya requires **Python 3.x** and **Maya 2022 or higher**. To install it, download the latest release from
`here <https://github.com/kimonmatara/paya/releases/latest>`_, unzip, move into your ``scripts`` directory
and relaunch Maya.

.. list-table::
    :widths: 5 100

    * - **Windows**
      - ``C:\Users\<username>\My Documents\Maya\<version>\scripts``
    * - **Mac**
      - ``/Users/<username>/Library/Preferences/Autodesk/Maya/<version>/scripts``
    * - **Linux**
      - ``~<username>/Maya/<version>/scripts``