/*code.literal {
    color: #404040 !important;
    background-color: #fbfbfb !important;
}*/

div.leftside {
    width: 414px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 425px;
    }

div.figure {
    padding-bottom: 7px;
    padding-top: 7px;
}

.ktabset {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.kcardbody {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*
.index-section-card {
    background-color: #091f42;
}*/

/*div.rightside {
    margin-left: 425px;
}*/